.style-cart{
    margin-bottom: 10px;
   }
   .img_style{
       width: 100px; 
      height: 100px;
   }
   .name_style{
       font-size: medium;
       font-weight: 700;
       margin-bottom: -5px;
   }